//     xs, extra-small: 0px
//     sm, small: 600px
//     md, medium: 960px
//     lg, large: 1280px
//     xl, extra-large: 1920px

$xs : 0px;
$sm : 600px;
$md : 960px;
$lg : 1280px;
$xl : 1920px;

img {
        width: 100%;
        height: 100%;
}


.allcountries {
        @media screen and (min-width: $xs) {
                display: flex;
                flex-direction: row;
                justify-content: center;
                background-color: #fbfbfb;
                padding-top: 2%;
                padding-bottom: 2%;
        }
        @media screen and (min-width: $sm) {

        }
        @media screen and (min-width: $md) {
                
                
        }
        @media screen and (min-width: $lg) {

        }
        @media screen and (min-width: $xl) {

                
        }
}

.allcountries__list__wrapper { 
        @media screen and (min-width: $xs) {
                width: 90%;
                ul {
                        width: 100%;
                        height: auto;
                }
                li {
                        display: inline;
                        font-weight: lighter;
                        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                }
        }
        @media screen and (min-width: $sm) {

        }
        @media screen and (min-width: $md) {
                
                
        }
        @media screen and (min-width: $lg) {
                ul {
                        width: 100%;
                        height: auto;
                }
                li {
                        display: inline;
                        font-weight: lighter;
                        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                }
        }
        @media screen and (min-width: $xl) {

                
        }    
}
